<div class="title-block">
  <div class="title-block__sotial"></div>
  <div class="title-block__title">constellation</div>
  <div class="title-block__text">If I create from the heart, nearly everything works; if from the head, almost nothing.</div>
</div>


<div class="posts" *ngIf="posts$ | async as posts; else loading">
  <app-post
    *ngFor="let post of posts"
    [post] = "post"
    class="card-wrapper"
  ></app-post>
</div>

<ng-template #loading>
  <p class="text-center">
    Идёт загрузка постов...
  </p>
</ng-template>
